@import "variables";

/* BODY */
.main-section,
.resume-section,
.portfolio-section {
  height: $default-body-height;
  margin-top: $default-nav-height;
  margin-bottom: $default-footer-height;
}

.main-section,
.resume-section {
  background-image: url("../images/bg-image-mountain.jpg");
  background-position: center;
  object-fit: cover;
}

.resume-section,
.portfolio-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
