@import "variables";

@media (min-height: 900px) {
  .navbar {
    height: 55px;
  }

  .footer {
    height: 50px;
  }

  .main-section,
  .resume-section,
  .portfolio-section {
    height: calc(100vh - 55px - 50px);
    margin-top: 55px;
    margin-bottom: 50px;
  }
}

/* MEDIA QUERIES (LANDSCAPE) */
@media (orientation: landscape) and (min-width: 1920px) {
  .main-section,
  .resume-section {
    background-image: url("../images/bg-image-xl-screen.jpg");
  }
}

@media (orientation: landscape) and (min-height: 1280px) {
  .main-section,
  .resume-section {
    background-image: url("../images/bg-image-xl-screen.jpg");
  }
}

@media (orientation: landscape) and (min-width: 3600px) {
  .main-section,
  .resume-section {
    background-image: url("../images/bg-image-4k.jpg");
  }
}

@media (orientation: landscape) and (min-height: 2400px) {
  .main-section,
  .resume-section {
    background-image: url("../images/bg-image-4k.jpg");
  }
}

@media (orientation: landscape) and (min-width: 1920px) {
  /* NAVBAR AND FOOTER */
  .navbar,
  .footer {
    font-size: 1.5rem;
  }

  .language-toggler {
    font-size: 1rem;
  }

  /* MAIN PAGE */
  .hero-content-container {
    width: 60%;
    max-width: none;
    height: 60vh;
    justify-content: space-evenly;
  }

  .hero-title {
    font-size: 4rem;
    padding: 0;
  }

  .hero-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .hero-description-text {
    font-size: 4rem;
    width: 80%;
  }

  .hero-tech-stack-section {
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
  }

  .tech-stack-item {
    margin: 20px;
  }

  .tech-stack-item-subtext {
    font-size: 1.5rem;
  }

  /* PORTFOLIO PAGE */
  .portfolio-tiles-container {
    width: 80%;
    max-width: none;
    height: 80vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
  }

  .project-tile {
    height: auto;
    font-size: 1.5rem;
  }

  .project-tile:nth-last-child(-n + 1) {
    margin-bottom: initial;
  }

  .tile-title-section {
    height: 25%;
    padding: 10px;
  }

  .tile-preview-section {
    height: 75%;
  }

  .button-filled {
    @include button-setup($secondary-color, 10px, 15px, 10px, $secondary-color, 5px);
    font-size: 2rem;
  }

  /* RESUME PAGE */
  .resume-text-container {
    width: 40%;
    max-width: none;
    height: 60vh;
  }

  .resume-text-container-internal {
    font-size: 1.5rem;
  }

  .resume-left-side-item,
  .resume-left-side-item-sm,
  .resume-left-side-item-lg {
    text-align: right;
    margin-right: 10px;
  }

  .button-outline {
    @include button-setup(transparent, 12px, 15px, 10px, $font-color, 10px);
    font-size: 2rem;
  }
}

@media (orientation: landscape) and (max-height: 450px) {
  .navbar {
    height: 12vh;
  }

  .social-media-icons-landscape {
    display: inline-block;
  }

  .main-section,
  .resume-section,
  .portfolio-section {
    height: 90vh;
    margin-top: 10vh;
    margin-bottom: 0;
  }

  .footer {
    display: none;
  }

  .hero-content-container {
    width: 95%;
    max-width: none;
    max-height: none;
  }

  .hero-title {
    padding: 1rem 0 0 0;
  }

  .hero-description {
    padding: 1rem;
  }

  .hero-description-text {
    font-size: $font-size-lg;
  }

  .hero-tech-stack-section {
    padding-bottom: 1.5rem;
  }

  .resume-text-container {
    width: 90%;
    max-width: none;
    padding: 2rem 0rem 2rem 0rem;
  }

  .resume-text-container-internal {
    font-size: $font-size-xxs;
    margin-bottom: 0.8rem;
  }

  .resume-left-side-item,
  .resume-right-side-item,
  .resume-left-side-item-sm,
  .resume-right-side-item-sm {
    padding: 3px;
    margin-bottom: 4px;
  }

  .resume-left-side-item-lg,
  .resume-right-side-item-lg {
    padding: 2px;
  }

  .resume-rightside-line {
    margin-bottom: 2px;
  }

  .stacklist {
    grid-template-columns: repeat(5, 1fr);
  }

  .buttons-container {
    margin: 0.5rem 0;
  }

  .button-outline {
    font-size: $font-size-sm;
  }

  .hide-sm-screen {
    display: none;
  }
}

@media (orientation: landscape) and (max-height: 330px) {
  .hero-title,
  .resume-languages-section {
    display: none;
  }

  .hero-description-text {
    font-size: $font-size-lg;
  }

  .resume-text-container-internal {
    font-size: $font-size-xxxs;
  }

  .resume-left-side-item,
  .resume-right-side-item,
  .resume-left-side-item-sm,
  .resume-right-side-item-sm {
    margin-bottom: 5px;
    height: 30%;
  }

  .resume-left-side-item-lg,
  .resume-right-side-item-lg {
    height: 40%;
  }
}
