/* VARIABLES */
$main-font: 'Montserrat', sans-serif;

$main-color: #414042;
$secondary-color: #141414;
$font-color: #b1b4ba;
$accent-color: #74ccf4;

$default-font-size: 16px;
$font-size-xxxs: 0.5rem;
$font-size-xxs: 0.6rem;
$font-size-xs: 0.7rem;
$font-size-sm: 0.8rem;
$font-size-lg: 1.2rem;
$font-size-xl: 1.5rem;

$default-nav-height: 7vh;
$default-body-height: 87vh;
$default-footer-height: 6vh;